@page "/faqs"

<PageTitle>Frequently Asked Questions</PageTitle>
<!-- Start Header -->
<div class="fables-header fables-after-overlay">
    <div class="container">
        <h2 class="fables-page-title fables-second-border-color">Frequently Asked Questions</h2>
    </div>
</div>
<!-- /End Header -->

<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
            </ol>
        </nav>
    </div>
</div>
<div id="accordion" class="container" style="margin-bottom:20px; margin-top:20px">
    @foreach (var faq in faqs)
    {
        <div class="card">
            <div class="card-header" id="headingOne">
                <button class="btn btn-lg  btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    @faq.Question
                </button>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    @faq.Answer
                </div>
            </div>
        </div>
    }
    
</div>

@code {
    DocumentList faqs;

    protected override void OnInitialized()
    {
        faqs = DB.FAQs.SelectAll();
        StateHasChanged();
    }
}
