@page "/faqs"

<!-- Start Header -->
<div class="fables-header fables-after-overlay">
    <div class="container">
        <h2 class="fables-page-title fables-second-border-color">Frequently Asked Questions</h2>
    </div>
</div>
<!-- /End Header -->

<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
            </ol>
        </nav>
    </div>
</div>
<div id="accordion" class="container" style="margin-bottom:20px; margin-top:20px">
    <div class="card">
        <div class="card-header" id="headingOne">
            <button class="btn btn-lg  btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Question 1
            </button>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                We sell a high-grade product at a fair price considering the materials, workmanship, and attention to detail that goes into each system we install. The true value of the We're Organized cabinet can easily be seen when compared to most other cabinets that are smaller and don't have metal edging. Aluminum extrusions on the We're Organized Cabinet represent 30% of its material cost. Other companies offer door and shelf extrusions, but only as expensive upgrades. For a comparable product, We're Organized won't be under-sold on price. Our systems are sold by the cabinet box or module. Each piece is priced separately, so you can design your own system and tailor it to fit both your needs and budget. Our systems are also easily expandable, so you can add onto your system as your budget allows. As every client's garage and requirements vary, we suggest you click on the link below to schedule a designer to meet you at your home to create a system just right for you.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <button class="btn btn-lg  btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Question 2
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                We sell a high-grade product at a fair price considering the materials, workmanship, and attention to detail that goes into each system we install. The true value of the We're Organized cabinet can easily be seen when compared to most other cabinets that are smaller and don't have metal edging. Aluminum extrusions on the We're Organized Cabinet represent 30% of its material cost. Other companies offer door and shelf extrusions, but only as expensive upgrades. For a comparable product, We're Organized won't be under-sold on price. Our systems are sold by the cabinet box or module. Each piece is priced separately, so you can design your own system and tailor it to fit both your needs and budget. Our systems are also easily expandable, so you can add onto your system as your budget allows. As every client's garage and requirements vary, we suggest you click on the link below to schedule a designer to meet you at your home to create a system just right for you.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <button class="btn btn-lg  btn-block collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Question 3
            </button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                We sell a high-grade product at a fair price considering the materials, workmanship, and attention to detail that goes into each system we install. The true value of the We're Organized cabinet can easily be seen when compared to most other cabinets that are smaller and don't have metal edging. Aluminum extrusions on the We're Organized Cabinet represent 30% of its material cost. Other companies offer door and shelf extrusions, but only as expensive upgrades. For a comparable product, We're Organized won't be under-sold on price. Our systems are sold by the cabinet box or module. Each piece is priced separately, so you can design your own system and tailor it to fit both your needs and budget. Our systems are also easily expandable, so you can add onto your system as your budget allows. As every client's garage and requirements vary, we suggest you click on the link below to schedule a designer to meet you at your home to create a system just right for you.
            </div>
        </div>
    </div>
</div>

@code {

}
